{% load staticfiles %}<!doctype html>
<html dir="ltr" lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"  />
    {% endblock %}
    {% block js %}
        <script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    {% endblock %}
</head>
<body>
    <div class="wrapper box">
        <div id="content">
            {% block page %}{% endblock %}
        </div>
        <footer>
            <nav class="textcenter">
                <a href="{% url 'index' %}">Сократить ссылку</a>
                <a href="{% url 'list' %}">Список ссылок</a>
            </nav>
            <p>&copy; 2013</p>
        </footer>
    </div>
</body>
</html>