body {
    font: 100%/1 Verdana, Tahoma, sans-serif;
    color: #333333;
}
/*footer*/
footer {
    border-top: 1px solid rgb(204, 204, 204);
}
    footer p {
        text-align: center;
        padding-top: 4px;
        margin-top: 6px;
    }
/*/footer*/
.box {
    border:1px solid #ccc;
    border-radius: 4px;
    box-shadow:0 0 2px #ccc;
}

/*a*/
a:link {
    color: #0000d0;
}
a:visited {
    color: #AA00AA;
}
/*/a*/